<section
  data-role="step-config"
  data-id="{{config.id}}"
  data-transition-type="bosssplash"
>
  <input type="hidden" name="id" id="id" value="{{config.id}}" />
  <p>{{localize "BATTLETRANSITIONS.BOSSSPLASH.DESCRIPTION"}}</p>
</section>