<section
  data-role="step-config"
  data-id="{{config.id}}"
  data-transition-type="fade"
>
  <input type="hidden" name="id" id="id" value="{{config.id}}" />
  <p>{{localize "BATTLETRANSITIONS.FADE.DESCRIPTION"}}</p>

  {{> "modules/battle-transitions/templates/steps/partials/label.hbs" this}}

  {{! Duration }}
  {{> "modules/battle-transitions/templates/steps/partials/duration-selector.hbs" this}}
  {{! Background }}
  {{> "modules/battle-transitions/templates/steps/partials/background-selector.hbs" this}}
  {{! Eeasing }}
  {{> "modules/battle-transitions/templates/steps/partials/easing-selector.hbs" this}}
</section>