<section
  data-role="step-config"
  data-id="{{config.id}}"
  data-transition-type="loadingtip"
>
  <input type="hidden" name="id" id="id" value="{{config.id}}" />
  <p>{{localize "BATTLETRANSITIONS.LOADINGTIP.DESCRIPTION"}}</p>

</section>