<div id="add-step-form" class="bt two-columns">
  {{#each transitionTypes}}
    {{log this}}
    <button data-transition="{{key}}">{{#if hasIcon}}{{{icon}}} {{/if}}{{localize name}}</button>
  {{/each}}
</div>
<hr />