<div class="form-group">
  <label for="background">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.BACKGROUND.LABEL"}}</label>
  <input type="text" data-color-picker="{alphaChannel: true}" value="{{background}}" id="background" name="background">
</div>
<p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.BACKGROUND.HINT"}}</p>