<div class="form-group">
  <label for="dualStyle">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.DUALSTYLE.LABEL"}}</label>
  <select name="dualStyle" id="dualStyle">
    {{selectOptions dualStyleSelect selected=dualStyle localize=true}}
  </select>
</div>
<p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.DUALSTYLE.HINT"}}</p>