<div class="form-group">
  <label for="step.dualStyle">{{localize
      "BATTLETRANSITIONS.SCENECONFIG.COMMON.DUALSTYLE.LABEL"
    }}</label>
  <select name="step.dualStyle" id="step.dualStyle">
    {{selectOptions dualStyleSelect selected=dualStyle localize=true}}
  </select>
</div>
<p class="hint">{{localize
    "BATTLETRANSITIONS.SCENECONFIG.COMMON.DUALSTYLE.HINT"
  }}</p>