<div class="form-group">
  <label for="step.duration">{{localize
      "BATTLETRANSITIONS.SCENECONFIG.COMMON.DURATION.LABEL"
    }}</label>
  <input
    type="number"
    min="0"
    step="1"
    value="{{duration}}"
    name="step.duration"
    id="step.duration"
    required
  />
</div>
<p class="hint">{{localize
    "BATTLETRANSITIONS.SCENECONFIG.COMMON.DURATION.HINT"
  }}</p>