<div class="form-group">
  <label for="falloff">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.FALLOFF.LABEL"}}</label>
  <input type="number" min="0" max="1" step="any" value="{{falloff}}" name="falloff" id="falloff" required />
</div>
<p class="notes">{{localize "BATTLETRANSITIONS.SCENECONFIG.COMMON.FALLOFF.HINT"}}</p>
