<div class="flexcol step-config-item" data-transition-type="pixelate" data-id="{{id}}">
  <form>
    <input type="hidden" id="step.id" name="step.id" value="{{id}}">
    <p>{{localize "BATTLETRANSITIONS.INVERT.DESCRIPTION"}}</p>
    {{> "/modules/battle-transitions/templates/config/dualtransition-selector.hbs" this}}
  </form>
</div>