<div
  class="flexrow sequence-item"
  data-index="{{index}}"
  data-sequence="{{serialized}}"
>
  <div><span class="link" data-action="configure">{{name}}</span></div>
  <i class="fas fa-trash fa-fw step-button flex0 link" data-action="remove"></i>
</div>