<div
  class="flexcol step-config-item"
  data-transition-type="wait"
  data-id="{{id}}"
>
  <form>
    <input type="hidden" name="id" id="id" value="{{id}}" />
    <p>{{localize "BATTLETRANSITIONS.WAIT.DESCRIPTION"}}</p>
    {{> "/modules/battle-transitions/templates/config/duration-selector.hbs" this}}
  </form>
</div>