<div class="form-group">
  <label for="fontFamily">{{localize
      "BATTLETRANSITIONS.SCENECONFIG.COMMON.FONT.LABEL"
    }}</label>
  <select name="fontFamily" id="fontFamily" data-font-select>
    {{selectOptions fontSelect selected=fontFamily}}
  </select>
</div>
<p class="hint">{{localize
    "BATTLETRANSITIONS.SCENECONFIG.COMMON.FONT.HINT"
  }}</p>