<p>{{localize "BATTLETRANSITIONS.DIALOGS.SCENESELECTOR.DESCRIPTION"}}</p>
<select name="scene" id="scene" style="width:100%">
  {{#each scenes}}
    <option value="{{id}}">{{name}}</option>
  {{/each}}
</select>