@import "variables";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?7uppfz")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?7uppfz")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?7uppfz##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.bt-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bt-angular-wipe {
  &:before {
    content: $bt-angular-wipe;
  }
}
.bt-bilinear-wipe {
  &:before {
    content: $bt-bilinear-wipe;
  }
}
.bt-boss-splash {
  &:before {
    content: $bt-boss-splash;
  }
}
.bt-clock-wipe {
  &:before {
    content: $bt-clock-wipe;
  }
}
.bt-crossed-swords {
  &:before {
    content: $bt-crossed-swords;
  }
}
.bt-diamond-wipe {
  &:before {
    content: $bt-diamond-wipe;
  }
}
.bt-fade {
  &:before {
    content: $bt-fade;
  }
}
.bt-fire-dissolve {
  &:before {
    content: $bt-fire-dissolve;
  }
}
.bt-flash {
  &:before {
    content: $bt-flash;
  }
}
.bt-hammer {
  &:before {
    content: $bt-hammer;
  }
}
.bt-hide-overlay {
  &:before {
    content: $bt-hide-overlay;
  }
}
.bt-hue-shift {
  &:before {
    content: $bt-hue-shift;
  }
}
.bt-invert {
  &:before {
    content: $bt-invert;
  }
}
.bt-linear-wipe {
  &:before {
    content: $bt-linear-wipe;
  }
}
.bt-macro {
  &:before {
    content: $bt-macro;
  }
}
.bt-melt {
  &:before {
    content: $bt-melt;
  }
}
.bt-parallel {
  &:before {
    content: $bt-parallel;
  }
}
.bt-radial-wipe {
  &:before {
    content: $bt-radial-wipe;
  }
}
.bt-scene-change {
  &:before {
    content: $bt-scene-change;
  }
}
.bt-show-overlay {
  &:before {
    content: $bt-show-overlay;
  }
}
.bt-sound {
  &:before {
    content: $bt-sound;
  }
}
.bt-spiral-shutter {
  &:before {
    content: $bt-spiral-shutter;
  }
}
.bt-spotlight-wipe {
  &:before {
    content: $bt-spotlight-wipe;
  }
}
.bt-start-ambient-playlist {
  &:before {
    content: $bt-start-ambient-playlist;
  }
}
.bt-step-over {
  &:before {
    content: $bt-step-over;
  }
}
.bt-texture-swap {
  &:before {
    content: $bt-texture-swap;
  }
}
.bt-twist {
  &:before {
    content: $bt-twist;
  }
}
.bt-video {
  &:before {
    content: $bt-video;
  }
}
.bt-wait {
  &:before {
    content: $bt-wait;
  }
}
.bt-wave-wipe {
  &:before {
    content: $bt-wave-wipe;
  }
}
.bt-zoom-blur {
  &:before {
    content: $bt-zoom-blur;
  }
}
