.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  &::before {
    content: " ";
  }
}

#context-menu .icon {
  background-color: var(--color-text-light-1);
}

nav .icon {
  background-color: var(--color-text-dark-primary);
}

.crossed-swords {
  // background-image: url("/modules/battle-transitions/assets/icons/crossed-swords.svg");
  mask-image: url("/modules/battle-transitions/assets/icons/crossed-swords.svg");
  -webkit-mask-image: url("/modules/battle-transitions/assets/icons/crossed-swords.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}
