@import "./icons.scss";

.center {
  text-align: center;
}

[data-tab="battle-transitions"] {
  button[data-action="add-step"] {
    position: relative;
    nav#context-menu {
      position: absolute;
    }
  }

  .step-config-item {
    margin-bottom: 5px;
  }

  .step-button {
    cursor: pointer;
    margin-left: 3px;
  }

  .link {
    cursor: pointer;
  }

  .ui-sortable-helper {
    background-image: url("/ui/parchment.jpg");
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 2px;
  }

  .ui-sortable-helper .drag-handle {
    cursor: grabbing;
  }

  .drag-handle {
    margin-right: 2px;
    cursor: grab;
  }
}

.bt {
  &.dialog-buttons {
    max-height: 36px;
  }
}
