@import "./icons.scss";

.center {
  text-align: center;
}

#transition-step-list {
  i[data-action="configure"],
  i[data-action="remove"] {
    cursor: pointer;
  }
}

[data-action].disabled {
  color: #808080;
  pointer-events: none;
}

.transition-builder {
  .dialog-buttons {
    max-height: 36px;
  }

  .step-body {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 5px;
    grid-auto-rows: max-content;
  }
}

[data-tab="battle-transitions"] {
  button[data-action="add-step"] {
    position: relative;
    nav#context-menu {
      position: absolute;
    }
  }

  .step-config-item {
    margin-bottom: 5px;
  }
}

.ui-sortable-helper {
  background-image: url("/ui/parchment.jpg");
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 2px;
}

.transition-config {
  .search-box {
    position: relative;
  }
}

.bt {
  .dialog-buttons {
    max-height: 36px;
  }

  .two-columns {
    columns: 2;
    button {
      width: 100%;
      position: relative;

      i {
        position: absolute;
        left: 4px;
        &.bt-icon {
          background-color: var(--button-text-color);
        }
      }
    }
  }
}

button[data-transition] {
  white-space: nowrap;
  padding-left: 24px;
  padding-right: 24px;
}

.v2.bt [data-group="primary-buttons"] button {
  position: relative;

  i {
    position: absolute;
    left: 0;
  }
}

#step-search-results {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 500;
  top: 0;
  left: 0;

  display: none;

  div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;

    &:hover {
      background-color: #e9e9e9;
    }
  }
}

.no-row-gap .tab {
  row-gap: 0px;
}

.step-config-item {
  .centered {
    text-align: center;
  }

  #selected-sequence {
    button[data-action="add-step"] {
      margin-top: 5px;
    }
  }

  #sequence-list {
    padding-right: 5px;
    width: 33%;

    button[data-action="add-sequence"] {
      margin-top: 5px;
    }
  }

  .no-margins {
    margin: 0;

    td {
      margin: 0;
      padding: 2px;
      height: 100%;
    }
  }
}

.sequence-item,
.step-button {
  padding-bottom: 5px;
  margin-left: 3px;
}

.ui-sortable-helper {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 2px;

  .drag-handle {
    cursor: grabbing;
  }
}

.drag-handle {
  margin-right: 2px;
  cursor: grab;
}

.right-align {
  text-align: right;
}
#backgroundImagePreview {
  text-align: center;
}

.bg-image-preview {
  width: 256px;
}

.link {
  cursor: pointer;
}

[data-role="transition-steps"] {
  .step-item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
