$icomoon-font-family: "Battle-Transitions" !default;
$icomoon-font-path: "../assets/fonts" !default;

$bt-angular-wipe: unquote('"\\e900"');
$bt-bilinear-wipe: unquote('"\\e901"');
$bt-boss-splash: unquote('"\\e902"');
$bt-clock-wipe: unquote('"\\e903"');
$bt-crossed-swords: unquote('"\\e904"');
$bt-diamond-wipe: unquote('"\\e905"');
$bt-fade: unquote('"\\e906"');
$bt-fire-dissolve: unquote('"\\e907"');
$bt-flash: unquote('"\\e908"');
$bt-hammer: unquote('"\\e909"');
$bt-hide-overlay: unquote('"\\e90a"');
$bt-hue-shift: unquote('"\\e90b"');
$bt-invert: unquote('"\\e90c"');
$bt-linear-wipe: unquote('"\\e90d"');
$bt-macro: unquote('"\\e90e"');
$bt-melt: unquote('"\\e90f"');
$bt-parallel: unquote('"\\e910"');
$bt-radial-wipe: unquote('"\\e911"');
$bt-scene-change: unquote('"\\e912"');
$bt-show-overlay: unquote('"\\e913"');
$bt-sound: unquote('"\\e914"');
$bt-spiral-shutter: unquote('"\\e915"');
$bt-spotlight-wipe: unquote('"\\e916"');
$bt-start-ambient-playlist: unquote('"\\e917"');
$bt-step-over: unquote('"\\e918"');
$bt-texture-swap: unquote('"\\e919"');
$bt-twist: unquote('"\\e91a"');
$bt-video: unquote('"\\e91b"');
$bt-wait: unquote('"\\e91c"');
$bt-wave-wipe: unquote('"\\e91d"');
$bt-zoom-blur: unquote('"\\e91e"');
