<div class="form-group">
  <label for="label">{{localize
      "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.LABEL"
    }}</label>
  <input type="text" name="label" id="label" value="{{config.label}}" />

  <p class="hint">{{localize
      "BATTLETRANSITIONS.SCENECONFIG.COMMON.LABEL.HINT"
    }}</p>
</div>